
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeLayout</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div class="container">
        <div class="row" style="width:100%; background-color:blue; color:white">
            <div class="col-lg-2 col-xs-2">
                Dare Academy
            </div>
            <div class="col-lg-offset-8 col-lg-2 col-xs-2">
                Logout
            </div>
        </div>

        <div class="row">
            @RenderSection("Section1")
        </div>
    </div>
</body>
</html>
